<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{chamado.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{chamado.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/chamados}" class="btn btn-secondary">[[#{chamado.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('chamado')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='chamado', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='chamado', field='descricao', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='chamado', field='aberto', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='chamado', field='prioridade', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='chamado', field='setor', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='chamado', field='cliente', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='chamado', field='tecnico', type='select')}" />
                <input type="submit" th:value="#{chamado.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
