<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{tecnico.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{tecnico.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/tecnicos}" class="btn btn-secondary">[[#{tecnico.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('tecnico')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='tecnico', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='tecnico', field='nome', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='tecnico', field='email', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='tecnico', field='senha', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='tecnico', field='setor', required=true, type='select')}" />
                <input type="submit" th:value="#{tecnico.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
